extends ../../layouts/common-admin
block content
    .container
        h1.mt-5 New Lesson
        form(method='POST',action='/admin/newLesson')
            .form-group
                label(for='exampleInputName') Name
                input#exampleInputName.form-control(type='text' name='name')
            .form-group
                label(for='exampleInputVideo') Video ID : ( http://vimeo.com/ )
                input#exampleInputVideo.form-control(type='text' name='videoId' )
            .form-group
                label(for="inputLevel") Level
                input#exampleInputlevel.form-control(type='text' name='level' )
            .form-group
                label(for='examplQuestion1') Question 1
                input#exampleQuestion1.form-control(type='text' name='question1' )
            .form-row
                .col
                    label(for="exampleAnswer1") Answer A
                    .answer.mt-3.align-item-center.mb-3
                        input(id='answerA' class='mr-3' name='checkA1' checked type='checkbox' )
                        input#exampleAnswer1(type='text' name='answer1_a')
                .col
                    label(for="exampleAnswer1") Answer B
                    .answer.mt-3.align-item-center.mb-3
                        input(id='answerB' class='mr-3' name='checkB1' checked type='checkbox' )
                        input#exampleAnswer1(type='text' name='answer1_b')
            .form-group
                label(for='examplQuestion1') Question 2
                input#exampleQuestion1.form-control(type='text' name='question2')
            .form-row
                .form-row
                .col
                    label(for="exampleAnswer2") Answer A
                    .answer.mt-3.align-item-center.mb-3
                        input(id='answerA' class='mr-3' name='checkA2' checked type='checkbox' )
                        input#exampleAnswer2(type='text' name='answer2_a')
                .col
                    label(for="exampleAnswer2") Answer B
                    .answer.mt-3.align-item-center.mb-3
                        input(id='answerB' class='mr-3' name='checkB2' checked type='checkbox' )
                        input#exampleAnswer2(type='text' name='answer2_b')
            .form-group
                label(for='examplQuestion3') Question 3
                input#exampleQuestion1.form-control(type='text' name='question3')
            .form-row
                .col
                    label(for="exampleAnswer3") Answer A
                    .answer.mt-3.align-item-center.mb-3
                        input(id='answerA' class='mr-3' name='checkA3' checked type='checkbox' )
                        input#exampleAnswer3(type='text' name='answer3_a')
                .col
                    label(for="exampleAnswer3") Answer B
                    .answer.mt-3.align-item-center.mb-3
                        input(id='answerB' class='mr-3' name='checkB3' checked type='checkbox' )
                        input#exampleAnswer3(type='text' name='answer3_b')
            .form-group
                label(for="textareaScript") Script
                textarea#textareaScript(name="script", cols="155", rows="10" )
            button.btn.btn-primary.mr-3(type='submit') Post
block footer
    script
            include ../../public/main.js