extends ../../layouts/common-admin
block content
    .container
        h1.mt-5 New Lesson
        form(method='POST',action='/admin/newLesson')
            .form-group
                label(for='exampleInputName') Name
                input#exampleInputName.form-control(type='text' name='name')
            .form-group
                label(for='exampleInputVideo') Video ID : ( http://vimeo.com/ )
                input#exampleInputVideo.form-control(type='text' name='videoId' )
            .form-group
                label(for="inputLevel") Level
                input#exampleInputlevel.form-control(type='text' name='level' )
            .form-group
                label(for='examplQuestion1') Question 1
                input#exampleQuestion1.form-control(type='text' name='question1' )
            .form-row
                .col
                    label(for="exampleAnswer1") Answer A
                    input#exampleAnswer1(class='d-flex flex-column mb-3' type="text", name="answer1_a" )
                .col
                    label(for="exampleAnswer1") Answer B
                    input#exampleAnswer1(class='d-flex flex-column mb-3' type="text", name="answer1_b" )
                .col
                    label Hit :
                    input(class='ml-3 d-flex flex-column' type='text',name='hit1')
            .form-group
                label(for='examplQuestion1') Question 2
                input#exampleQuestion1.form-control(type='text' name='question2')
            .form-row
                .col
                    label(for="exampleAnswer2") Answer A
                    input#exampleAnswer2(class='d-flex flex-column mb-3' type="text", name="answer2_a" )
                .col
                    label(for="exampleAnswer2") Answer B
                    input#exampleAnswer2(class='d-flex flex-column mb-3' type="text", name="answer2_b" )
                .col
                    label Hit :
                    input(class='ml-3 d-flex flex-column' type='text',name='hit2')
            .form-group
                label(for='examplQuestion3') Question 3
                input#exampleQuestion1.form-control(type='text' name='question3')
            .form-row
                .col
                    label(for="exampleAnswer3") Answer A
                        input#exampleAnswer3(class='d-flex flex-column mb-3' type="text", name="answer3_a" )
                .col
                    label(for="exampleAnswer3") Answer B
                    input#exampleAnswer3(class='d-flex flex-column mb-3' type="text", name="answer3_b" )
                .col
                    label Hit :
                    input(class='ml-3 d-flex flex-column' type='text',name='hit3')
            .form-group
                label(for="textareaScript") Script
                textarea#textareaScript(name="script", cols="155", rows="10" )
            button.btn.btn-primary.mr-3(type='submit') Post
block footer
    script
            include ../../public/main.js